.DetailedQuestionCard {
    width: 500px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px black ;
    padding: 15px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
}

.DetailedQuestionCard > div {
    cursor: pointer;
    font-style: italic;
    margin: 5px;
}

.DetailedQuestionCard > div:hover {
    background-color: #FFE082;
}

@media screen and (max-width: 1000px) {
    .DetailedQuestionCard {
        width: 80%;
        margin: 10px auto;
    }
}