.Questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    color: white;
    border: 1px solid black;
    background-color: #FEC13D;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: bold;
}

span {
    padding-right: 5px;
}

@media screen and (max-width: 768px){
    .Questions{
        width: 80%;
        margin: 10px auto;
    }
    button {
        width: 80%;
        margin: 10px auto;
    }
}